/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}


/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.main {
    margin: 15px auto 10px auto;
    padding: 15px 50px;
    border: 1px solid #eee;
}

.addButton {
    margin-top: 25px;
}

.action-table {
    margin-top: 10px;
}

.title p {
    color: #111111;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.title-line {
    width: 150px;
    margin: 5px 0;
    border-top: 4px solid #233df9;
}

.modal-container {
    padding: 20px;
}

.modal-title {
    background-color: #233DF9;
    padding: 15px 25px;
}

.modal-title p {
    color: #fff;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
}

.modal-line {
    width: 120px;
    margin: 5px 0;
    border-top: 4px solid #ffffff55;
}

.info-btn button {
    background-color: #FFF;
    border: 1px solid #233DF9;
    color: #233DF9;
    transition: all .2s;
}

.info-btn button:hover {
    background-color: #233DF9;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.info-btn button:focus {
    background-color: #233DF9;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.info-btn button:active {
    background-color: #233DF9 !important;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}



.secondary-btn button {
    background-color: #FFF;
    border: 1px solid #111111;
    color: #111111;
    transition: all .2s;
}

.secondary-btn button:hover {
    background-color: #111111;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.secondary-btn button:focus {
    background-color: #111111;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.secondary-btn button:active {
    background-color: #111111 !important;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.primary-btn button {
    background-color: #FFF;
    border: 1px solid #233DF9;
    color: #233DF9;
    transition: all .2s;
}

.primary-btn button:hover {
    background-color: #233DF9;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.primary-btn button:focus {
    background-color: #233DF9;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.primary-btn button:active {
    background-color: #233DF9 !important;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.danger-btn button {
    background-color: #FFF;
    border: 1px solid #FA3C23;
    color: #FA3C23;
    transition: all .2s;
}

.danger-btn button:hover {
    background-color: #FA3C23;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.danger-btn button:focus {
    background-color: #FA3C23;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.danger-btn button:active {
    background-color: #FA3C23 !important;
    /*border: 1px solid #FFF;*/
    color: #FFF;
}

.pagination>li>a, .pagination>li>span {
    color: #111111;
    transition: all .2s;
}

.paginaton>li>a, .pagination>li>span:hover {
    color: #444444;
}

.pagination>.active>a {
    background-color: #111111;
    border-color: #111111;
    color: #FFF;
    transition: all .2s;
}

.pagination>.active>a:hover {
    background-color: #333333;
    border-color: #333333;
}

/*.users-table {
    padding: 10px;
    border: 1px solid #233DF9ee;
}*/

.users-table .table>tbody>tr {
    background-color: #FFF;
}

.users-table .table>tbody>tr:hover {
    background-color: #FFF;
}

.users-table .table>tbody>tr>td {
    display: flex;
    justify-content: center;
    border: 1px solid #FFF;
    margin: 5px;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    transition: all .1s;
}

.users-table .table>tbody>tr>td:hover {
    display: flex;
    justify-content: center;
    padding: 13px 0;
    background-color: #FFF;
    border: 1px solid #233DF9;
    color: #233DF9;
    box-shadow: none;
}

.users-table .table-hover>tbody>tr.info>td,
.users-table .table-hover>tbody>tr.info>th,
.users-table .table-hover>tbody>tr>.info,
.users-table .table-hover>tbody>tr>td.info,
.users-table .table-hover>tbody>tr>th.info {
    background-color: #233DF9;
    border: 0;
    padding: 15px 0;
    color: #FFF;
}

.users-table .table-hover>tbody>tr.info:hover>td,
.users-table .table-hover>tbody>tr.info:hover>th,
.users-table .table-hover>tbody>tr:hover>.info,
.users-table .table-hover>tbody>tr>td.info:hover,
.users-table .table-hover>tbody>tr>th.info:hover {
    background-color: #233DF9;
    color: #FFF;
}

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover, fieldset[disabled]
.btn-default, fieldset[disabled]
.btn-default.active, fieldset[disabled]
.btn-default.focus, fieldset[disabled]
.btn-default:active, fieldset[disabled]
.btn-default:focus, fieldset[disabled]
.btn-default:hover {
    background-color: #fff;
    border-color: #ccc;
    color: #aaa;
}

.user-name {
    font-size: 2.5rem;
    font-weight: bold;
}

.user-name hr {
    width: 120px;
    margin: 5px 0;
    border-top: 4px solid #233DF9;
}

.tab-container .tab-content>div>div>div>div {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 25px;
}

.awn-toast-icon {
    font-size: 35px;
}

